body {
    background-color: #f8f9fa;
}

.header {
    background-color: #ffffff;
    color: #ff6600;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 3px solid #ff6600;
}

.municipio-box {
    background-color: white;
    border: 1px solid #dee2e6;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    border-radius: 5px;
}